
@{
    ViewData["Title"] = "Index";
}

<div class="row" style="padding-top:30px;padding-bottom:50px">
    <div class="col-sm">
        <input class="btn btn-primary" type="button" value="我的小说">
    </div>
    <div class="col-sm">
        <input class="btn btn-primary" type="button" value="我的收藏">
    </div>
    <div class="col-sm">
        <input class="btn btn-primary" type="button" value="投稿">
    </div>
    <div class="col-sm">
        <input class="btn btn-primary" type="button" value="投稿管理">
    </div>
</div>

