@model IEnumerable<Book>
@{
    ViewData["Title"] = "Index";
}

<style type="text/css">
    #Rankdiv {
        padding-top: 30px;
    }
</style>
@{
    foreach (var r in Model)
    {
        <div id="Rankdiv">
            <div class="jumbotron" style="background-image:url(@r.bigImage)">
                <h1 class="display-4">@r.bookName</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <a class="btn btn-primary btn-lg" asp-controller="Detail" asp-action="Index" asp-route-Id="@r.Id" role="button">读 我！</a>
            </div>
        </div>
    }
}
<div id="Rankdiv">
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>