@model IEnumerable<Book>
@{
    ViewData["Title"] = "Index";
}

<style type="text/css">
    #Rankdiv {
        padding-top: 30px;
    }
</style>
@{
    foreach (var r in Model)
    {
        <div id="Rankdiv">
            <div class="jumbotron" style="background-image:url(@r.bigImage)">
                <h1 class="display-4">@r.bookName</h1>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" asp-controller="Detail" asp-action="Index" asp-route-Id="@r.Id" role="button">读 我！</a>
            </div>
        </div>
    }
}